<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.rmcguwahati">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashh"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeghalayaActivity" />
        <activity android:name=".AssamActivity" />
        <activity android:name=".TripuraActivity" />
        <activity android:name=".NagalandActivity" />
        <activity android:name=".ManipurActivity" />
        <activity android:name=".MizoramActivity" />
        <activity android:name=".ArunachalActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".WebAssamActivity" />
        <activity android:name=".NowActivity" />
        <activity android:name=".WebAssam1Activity" />
        <activity android:name=".WebTezpurActivity" />
        <activity android:name=".WebNorthActivity" />
        <activity android:name=".WebSilcharActivity" />
        <activity android:name=".WebDhubriActivity" />
        <activity android:name=".WebJorhatActivity" />
        <activity android:name=".WebTinActivity" />
        <activity android:name=".WebGolaActivity" />
        <activity android:name=".WebBarActivity" />
        <activity android:name=".WebGoalActivity" />
        <activity android:name=".WebMazActivity" />
        <activity android:name=".WebItaActivity" />
        <activity android:name=".WebPasActivity" />
        <activity android:name=".WebTawActivity" />
        <activity android:name=".WebAnnActivity" />
        <activity android:name=".WebShillActivity" />
        <activity android:name=".WebCheraActivity" />
        <activity android:name=".WebDimaActivity" />
        <activity android:name=".WebMokoActivity" />
        <activity android:name=".WebImpActivity" />
        <activity android:name=".WebLengActivity" />
        <activity android:name=".WebChampActivity" />
        <activity android:name=".WebAgarActivity" />
        <activity android:name=".WebKaiActivity" />
        <activity android:name=".NowGhyActivity" />
        <activity android:name=".NowDibruActivity" />
        <activity android:name=".NowShillActivity" />
        <activity android:name=".NowJorActivity" />
        <activity android:name=".NowDhubActivity" />
        <activity android:name=".NowSilcActivity" />
        <activity android:name=".NowLakhActivity"></activity>
    </application>

</manifest>